body { background: #10f080; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 41px; display: flex; }
.block-config-0 { color: #1b23c4; font-size: 15px; margin-bottom: 5px; }
.block-product-1 { color: #df6fc4; font-size: 16px; margin-bottom: 5px; }
.block-email-2 { color: #4093e1; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #615d97; font-size: 12px; margin-bottom: 5px; }
.block-product-4 { color: #9f5ec6; font-size: 13px; margin-bottom: 5px; }
.block-config-5 { color: #4c0e5b; font-size: 21px; margin-bottom: 5px; }
.block-search-6 { color: #bb2c90; font-size: 14px; margin-bottom: 5px; }
.block-cluster-7 { color: #4b4328; font-size: 13px; margin-bottom: 5px; }